
.header-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  width: 150px;
  border-radius: 100px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 1000px;
  margin-right: auto;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
}