.favorite-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.fav-music-container {
  margin-top: 55px;
}

.fav-music {
  margin-top: 20px;
}
